* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eaeaea;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

.App {
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

input,
textarea {
	font: inherit;
}

.notes-app {
	width: 100%;
	max-width: 960px;
}

.app-header {
	text-align: center;
	font-weight: 500;
	text-decoration: underline;
	letter-spacing: 1px;
	color: gray;
	text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
}

.note-editor {
	width: 100%;
	max-width: 600px;
	padding: 16px;
	margin: 24px auto;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

textarea {
	width: 100%;
	resize: none;
	margin: 5px;
	font-size: 16px;
	border: none;
	font-weight: 300;
}

textarea:focus {
	outline: 0;
}

.note-editor-footer {
	display: flex;
	justify-content: space-between;
}

.color-picker input {
	visibility: hidden;
	width: 0;
	height: 0;
}

.color-picker label {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 5px;
	position: relative;
	cursor: pointer;
}

.color-picker input[type='radio']:checked + label:after {
	content: '';
	position: absolute;
	width: 5px;
	height: 10px;
	border-right: 1px solid;
	border-bottom: 1px solid;
	left: 10px;
	top: 6px;
	transform: rotate(45deg);
	opacity: 0.5;
}

.add-button {
	width: 100px;
	height: 35px;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	background: #ef233c;
	color: #fff;
	border: none;
	border-radius: 2px;
	transition: all 0.3s ease;
	box-shadow: 0 5px #d90429;
}

.add-button:hover {
	box-shadow: 0 3px #d90429;
	top: 1px;
}

.add-button:active {
	box-shadow: 0 0 #d90429;
	top: 5px;
}

.notes-grid {
	margin: 0 auto;
}

.note {
	width: 200px;
	color: #212121;
	height: auto;
	border-radius: 2px;
	padding: 10px 15px;
	margin-bottom: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: box-shadow 0.3s;
}

.note:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.delete-note {
	position: absolute;
	right: 5px;
	display: none;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.6);
}

.note:hover .delete-note {
	display: block;
}